html {
    height: 150%;
}

body {
    /* background: rgb(192,193,255);
    background: linear-gradient(145deg, rgba(192,193,255,1) 0%, rgba(244,189,189,1) 50%, rgba(255,195,111,1) 100%); */
    background: rgb(33,49,129);
    background: linear-gradient(145deg, rgba(33,49,129,1) 0%, rgba(200,52,201,1) 50%, rgba(255,90,90,1) 100%);  
}

header {
    text-align: center;
}

article {
    width: 6in;
    background-color: rgba(0,0,0,0.4);
    border-radius: 20px;
    padding: 50px;
}

div {
    display: flex;
    justify-content: center;
    margin: 60px;
}

h3 {
    font-family: 'Inter', sans-serif;
    color: lightsteelblue;
    font-size: 1em;
    letter-spacing: 2px;
}

h1, h2 {
    font-family: 'Playfair Display', serif;

}

h1 {
    padding-top: 20px;
    letter-spacing: 5px;
    color: gold;
    font-size: 50px;
}

h2 {
    color: gold;
    font-size: 2em;
    letter-spacing: 2px;
}

hr {
    border: 1px solid lightsteelblue;
}

p {
    font-family: 'Inter', sans-serif;
    color: white;
    line-height: 1.4em;
}

a {
    color: pink;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    
}

#html, #css {
    padding-left: 10px;
}