#banner {
    width: 1100px;
    height: 250px;
    margin: auto;
}

#icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
#scissors, #paint, #hammer {
    height: 100px;
    width: 100px;
    animation: rotation 6s infinite linear;
}

@keyframes rotation {
    50% {
    transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

img:hover {
    opacity: 0;
}

#scissors:hover {
    background: url("images/scissors2.png");
}

#paint:hover {
    background: url("images/paint2.png");
}

#hammer:hover {
    background: url("images/hammer2.png");
}

header {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    padding-top: 25px;
    padding-bottom: 25px;
}

h1 {
    font-size: 50px;
    margin-bottom: 2px;
}

h2 {
    font-family: 'Yeseva One', serif;
    letter-spacing: 2px;
}

#container {
    display: flex;
    justify-content: center;
    margin: 1%;
}

#tape, #tape:hover {
    display: flex;
    justify-content: center;
    position: relative;
    top: -40px;
    left: 110px;
    opacity: 0.3;
}

#studios, #rd, #final {
    background-color: beige;
    padding-left: 50px;
    padding-bottom: 20px;
    margin: 20px;
    box-shadow: 8px 8px gray;
}

div {
    width: 33%;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
    margin-left:-20px;
}

a {
    text-decoration:none;
    color: rgb(92, 92, 92);
    margin: 20px;
}

a:hover {
    background-color: pink;
    color: black;
}
    
main {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    padding-bottom: 30px;
}