/* body {
    background-image: linear-gradient(pink,orange)
} */

#banner {
    width: 1100px;
    height: 250px;
    margin:auto;
    
}

#icons {
    display:flex;
    justify-content:center;
    align-items: center;
    margin:auto;
}
#scissors, #paint, #hammer {
    height: 100px;
    width: 100px;
    animation: rotation 6s infinite linear;
}

@keyframes rotation {
    50% {
    transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }

}

#scissors:hover {
    background: url("images/scissors2.png") no-repeat;
}

#paint:hover {
    background: url("images/paint2.png") no-repeat;
}

#hammer:hover {
    background: url("images/hammer2.png") no-repeat;
}

header {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    padding-top: 25px;
    padding-bottom: 50px;
}

h1 {
    font-size: 50px;
}

#container {
    display: flex;
    justify-content: center;
    margin: 50px;

}

#tape {
    display: flex;
    justify-content: center;
    position: relative;
    top: -60px;
    left: 120px;
    opacity: 0.3;
}

#studios, #rd, #final {
    background-color: beige;
    padding: 20px;
    margin: 20px;
    box-shadow: 8px 8px gray;
}

div {
    width: 33%;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

a {
    text-decoration:none;
    color: rgb(92, 92, 92);
}

a:hover {
    background-color: pink;
    color: black;
}
    

main {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

footer {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    padding-bottom: 50px;
}